/*
 * Global resets
 */

html {
  font-family: "Avenir Next", sans-serif;
}
@media (min-width: 48em) {
  html {
    font-size: 16px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
}

h1 {
  margin-top: 1rem;
  font-size: 1.5rem;
}
h2 {
  margin-top: 1.5rem;
  font-size: 1.1rem;
}
h3, h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

code {
  padding: .25em .5em;
  font-size: 85%;
  color: #069
}

.content .menu hr,
.content .footer hr {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 1px;
  width: 60%;
  background-color: #ac4142
}

.post-tags {
  display: block;
  margin-top: -.8rem;
  margin-bottom: 0.5rem;
  color: #9a9a9a;
  font-size: 0.7rem
}

/*
 * Post Navigation
 */

.post-navigation {
  font-size: 0.8rem;
  padding: 0;
  margin-top: 1rem;
  margin-bottom: 1rem
}

.post-navigation .previous {
}

.post-navigation .next {
  float: right;
  text-align: right
}

/*
 * Footer
 */

.footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 0.8rem
}

/*
 * Menu
 */

.menu {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.menu ul {
  padding-left: 0
}

.menu ul a {
  padding: 25px;
}

.menu ul li {
  display: inline;
  list-style-type: none
}

/*
 * Recent Posts at /
 */

.posts {
  padding-left: 1rem;
  padding-right: 1rem
}

.posts li {
  margin-bottom: 5px;
  list-style-type: none
}

.posts li div {
  padding: 5px 0
}

.posts li .title {
  font-size: 1rem;
  padding: 0
}

.posts li .date {
  float: right;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #9a9a9a;
  line-height: 24px
}

@media (max-width: 48em) {
  .posts {
    padding-left: 0rem;
    padding-right: 0rem
  }

  .posts li .date {
      display: none
  }
}

/*
 * Related Posts
 */

.related-posts {
  padding-left: 0rem;
  padding-right: 0rem
}

.related-posts li {
  list-style-type: none
}

.related-posts li div {
}

.related-posts li .title {
  font-size: 0.8rem;
  padding: 0
}

.related-posts li .date {
  float: right;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #9a9a9a;
  line-height: 24px
}

@media (max-width: 48em) {
  .related-posts {
    padding-left: 0rem;
    padding-right: 0rem
  }

  .related-posts li .date {
      display: none
  }
}

/*
 * IFrame
 */

.vimeo-iframe {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: auto;
  -webkit-overflow-scrolling:touch;
}
.vimeo-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
 * Container
 */

.content {
  padding-top:    2rem;
  padding-bottom: 2rem;
}

@media (min-width: 48em) {
  .content {
    max-width: 42rem;
  }
}

@media (min-width: 64em) {
  .content {
  }
}

/*
 * Theme
 */

.content a,
.related-posts li a:hover {
  color: #ac4142;
}
