
{% assign phd = 0 %}
{% assign msc = 0 %}
{% for student in site.data.gradstudents %}
    {% if student.YourRole == "Senior Supervisor" and student.CurrentStatus == "Graduated" and student.Program == "PhD" %}
        {% assign phd = phd | plus: 1 %}
    {% endif %}
    {% if student.YourRole == "Senior Supervisor" and student.CurrentStatus == "Graduated" and student.Program contains 'MSc' %}
        {% assign msc = msc | plus: 1 %}
    {% endif %}
{% endfor %}

{% if phd > 0 %}
#### Phd (Total: {{ phd }})
<ul>

{% if include.param %}
    {% assign max = include.param %}
{% else %}
    {% assign max = phd %}
{% endif %}

{% assign counter = 0 %}

{% for student in site.data.gradstudents %}
    {% if student.YourRole == "Senior Supervisor" and student.CurrentStatus == "Graduated" and student.Program == "PhD" %}
        {% if counter < max %}
            {% capture studentkey %}{{ student.Name }}-PhD{% endcapture %}
            {% assign studentdata = site.data.graduatedstudents[studentkey] %}
            {% if studentdata.url %}
                <li>{{ student.Name }}. <a href="{{ studentdata.url }}">{{ student.ThesisTitle }}</a>. <span class="smaller">(from: {{ student.StartSemester }} to: {{ student.EndSemester }})</span></li>
            {% else %}
                <li>{{ student.Name }}. {{ student.ThesisTitle }}. <span class="smaller">(from: {{ student.StartSemester }} to: {{ student.EndSemester }})</span></li>
            {% endif %}
            {% assign counter = counter | plus: 1 %}
        {% else %}
            {% break %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
{% endif %}

{% if msc > 0 %}
#### MSc (Total: {{ msc }})

<ul>

{% if include.param %}
    {% assign max = include.param %}
{% else %}
    {% assign max = msc %}
{% endif %}

{% assign counter = 0 %}

{% for student in site.data.gradstudents %}
    {% if student.YourRole == "Senior Supervisor" and student.CurrentStatus == "Graduated" and student.Program contains 'MSc' %}
        {% if counter < max %}
            {% capture studentkey %}{{ student.Name }}-MSc{% endcapture %}
            {% assign studentdata = site.data.graduatedstudents[studentkey] %}
            {% if studentdata.url %}
                <li>{{ student.Name }}. <a href="{{ studentdata.url }}">{{ student.ThesisTitle }}</a>. <span class="smaller">(from: {{ student.StartSemester }} to: {{ student.EndSemester }})</span></li>
            {% else %}
                <li>{{ student.Name }}. {{ student.ThesisTitle }}. <span class="smaller">(from: {{ student.StartSemester }} to: {{ student.EndSemester }})</span></li>
            {% endif %}
            {% assign counter = counter | plus: 1 %}
        {% else %}
            {% break %}
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
{% endif %}

