<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<!-- <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox" {% if page.title =="Home" %}checked{% endif %}> -->

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">

  <div class="sidebar-item">
    <p><img padding="10px" src="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png" class="img-responsive img-rounded" style="max-width:144px"></p>
  <!--
    {% if site.description != '' %}
    <p>
      {{ site.description }}
    </p>
    {% endif %}
  -->
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

    {% comment %}
      The code below dynamically generates a sidebar nav of pages with
      `layout: page` and `menu: true` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages | sort:"url" %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" or node.layout == "linkedpage" %}
          {% if node.menu == true %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
  </nav>

  <div class="sidebar-item">
    <p>&copy; 2013 - {{ site.time | date: '%Y' }} {{ site.author.name }}</p>
    <p><a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a></p>
    <p>
      <a href="{{ site.baseurl }}/atom.xml">RSS feed</a>.
      <a href="{{ site.baseurl }}/about">About this site</a>.
    </p>
  </div>
</div>
