
<dl>
{% for sw in site.data.software limit:include.param %}
    <dt>
    {% if sw.repo %}
        <a href="{{ sw.repo }}">{{ sw.name }}</a>
    {% else %}
        {{ sw.name }}
    {% endif %}
    {% if sw.demo %}
        <span class="smaller">[<a href="{{ sw.demo }}">Demo</a>]</span>
    {% endif %}
    </dt>
    <dd>
    <span class="smaller">{{ sw.about | markdownify | remove: '<p>' | remove: '</p>' }}</span>
    {% if sw.paper %}
        <span class="smaller">[<a href="{{ sw.paper }}">More</a>]</span>
    {% endif %}
    </dd>
{% endfor %}
</dl>

