---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>
  <span class="post-tags">{{ tags_content }}</span>
  {{ content }}

  <div class="post-navigation">
    {% if page.previous.url %}
      <a href="{{page.previous.url}}" class="previous">
        &larr; {{page.previous.title}}
      </a>
    {% endif %}
    {% if page.next.url %}
      <a href="{{page.next.url}}" class="next">
        {{page.next.title}} &rarr;
      </a>
    {% endif %}
  </div>

  {% if page.serie != null %}
    <h1>Related posts</h1>
    <ul class="related-posts">

    {% assign pages_list = site.posts %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "post" %}
          {% if node.serie == page.serie %}
            <li>
              <a href="{{ node.url }}">
                <div>
                  <span class="title">{{ node.title }}</span>
                  <span class="date">{{ node.date | date_to_string }}</span>
                </div>
              </a>
            </li>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}

    </ul>
  {% endif %}

</div>
